<!DOCTYPE html>
<html>
<head>
    <title>Главная страница</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Новости</h1>
        <ul>
            {% for news_item in news %}
                <li><a href="{{ url_for('view_news', slug=news_item.slug) }}">{{ news_item.title }}</a></li>
            {% endfor %}
        </ul>
        <a href="{{ url_for('login') }}">Войти</a>
        <a href="{{ url_for('register') }}">Регистрация</a>
    </div>
</body>
</html>